.box {
    margin: auto;
    padding: 20px;
    text-align: center;
}

@media (min-width: 0px) {
    .box {
        background-color: blue;
        color: white;
        width: 30%;
    }
}

@media (min-width: 481px) {
    .box {
        background-color: rgb(255, 0, 0);
        color: white;
        width: 40%;
    }
}

@media (min-width: 769px) {
    .box {
        background-color: rgb(33, 190, 61);
        color: rgb(0, 0, 0);
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .box {
        background-color: rgb(33, 190, 185);
        color: rgb(0, 0, 0);
        width: 80%;
    }
}